{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li style="padding: 10px 0px 10px 20px; background-color: #428bca; color: white">Transfers From: </li>
                <li><a href="/route?Name=1">1 Train</a></li>
                <li><a href="/route?Name=2">2 Train</a></li>
                <li><a href="/route?Name=3">3 Train</a></li>
                <li><a href="/route?Name=4">4 Train</a></li>
                <li><a href="/route?Name=5">5 Train</a></li>
                <li><a href="/route?Name=6">6 Train</a></li>
                <li><a href="/route?Name=7">7 Train</a></li>
                <li><a href="/route?Name=GS">GS Train</a></li>
                <li><a href="/route?Name=A">A Train</a></li>
                <li><a href="/route?Name=B">B Train</a></li>
                <li><a href="/route?Name=C">C Train</a></li>
                <li><a href="/route?Name=D">D Train</a></li>
                <li><a href="/route?Name=E">E Train</a></li>
                <li><a href="/route?Name=F">F Train</a></li>
                <li><a href="/route?Name=FS">FS Train</a></li>
                <li><a href="/route?Name=J">J Train</a></li>
                <li><a href="/route?Name=L">L Train</a></li>
                <li><a href="/route?Name=M">M Train</a></li>
                <li><a href="/route?Name=N">N Train</a></li>
                <li><a href="/route?Name=Q">Q Train</a></li>
                <li><a href="/route?Name=R">R Train</a></li>
                <li><a href="/route?Name=Z">Z Train</a></li>
            </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <p style="text-align: center; font-size: 16pt">Choose a line to see the popularity of different transfers</p>
        </div>
    </div>
</div>
{% endblock %}